.FavoriteItem {
  position: relative;
  width: calc(33% - 1em);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  &:hover {
    img {
      opacity: 70%;
    }

    .catalog-item_info {
      h3 {
        text-decoration: underline;
      }
    }
  }

  .favorite-item_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  //style img and btnAdd
  .image-item {
    width: 100%;
    height: 350px;
    object-fit: contain;
    transition: ease-in-out .3s;
    z-index: 1;
  }

  .add-btn {
    position: absolute;
    z-index: 5;
    right: 25px;
    top: 25px;

    padding: 0.75em;
    border-radius: 5px;
    transition: ease-in-out .3s;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      background-color: #f3f3f3;
    }
  }

  .active-favorite {
    svg {
      fill: red;
    }
  }


  .favorite-item_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h3 {
      font-size: 18px;
      font-weight: 500;
      color: var(--color-dark);
      margin-bottom: 0.35em;
    }

    span {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-gray);
    }
  }
}