.PaginationBlog{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}
.PaginationBlog div{
  padding: 0.5em;
}
.PaginationBlog div.active-page{
  background-color: green;
  color: #fff;
}