.NotFoundPage {
  .container-page {
    margin-top: 250px;
    margin-bottom: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;

    img {
      width: 15%;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        width: 100%;
        font-size: 48px;
        font-weight: 500;
        color: var(--color-dark);
        text-align: center;
      }

      span {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media(max-width: 625px) {
  .NotFoundPage {
    .container-page{
      img{
        width: 20%;
      }

      .text-container {
        h1{
          font-size: 24px;
        }
      }
    }
  }
}