.SignUpForm{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.SignUpForm button{
  width: 100%;
  padding: 1em;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);
  transition: all 0.3s;
  &:hover{
    background-color: #6b6b6b;
  }
}