.FirstInfoModule{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 4em;

  .info-about_text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    h1{
      font-size: 48px;
      font-weight: 500;
      color: var(--color-dark);
    }
    p{
      font-size: 24px;
      color: var(--color-dark);
      font-weight: 300;
      line-height: normal;
    }
  }

  .info-about_part{
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2{
      font-size: 32px;
      font-weight: 500;
      color: var(--color-dark);
    }
    .particular-container{
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1120px){
        gap: 2em;
      }
    }
    .particular-item{
      width: calc(33% - 1em);
      padding: 3em 2em;
      background: #f9f9f9;
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      @media (max-width: 1120px){
        width: calc(50% - 1em);
        &:last-child{
          width: 100%;
        }
      }
      @media (max-width: 1120px){
        width: 100%;
      }
      h4{
        font-size: 20px;
        font-weight: 600;
        color: var(--color-dark);
      }
      p{
        font-size: 18px;
        color: var(--color-dark);
        line-height: normal;
      }
    }
  }

  .info-about_stats{
    h2{
      font-size: 32px;
      font-weight: 500;
      color: var(--color-dark);
      margin-bottom: 0.5em;
    }
    p{
      font-size: 24px;
      color: var(--color-dark);
      font-weight: 300;
      line-height: normal;
    }
  }
}


//media
@media (max-width: 720px){
  .FirstInfoModule{
    gap: 3em;
  }
  .FirstInfoModule .info-about_text{
    h1{
      font-size: 28px;
    }
    p{
      font-size: 18px;
    }
  }
  .FirstInfoModule .info-about_stats{
    h2{
      font-size: 24px;
    }
  }
  .FirstInfoModule .info-about_part{
    gap: 0;
    h2{
      font-size: 24px;
    }
  }
  .FirstInfoModule .info-about_part{
    .particular-item{
      h4{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .FirstInfoModule .info-about_stats p{
    font-size: 18px;
  }
}