.ItemInfoBlock {
  width: 100%;
  margin-top: 150px;

  .container-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    img {
      width: calc(60% - 1em);
      height: 500px;
      object-fit: contain;
    }

    .about-item {
      width: calc(40% - 1em);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2em;
    }
    .info-item{
      display: flex;
      flex-direction: column;
      gap: 2em;
      .item-text{
        h2
        p{
          font-size: 18px;
          font-weight: 300;
          color: var(--color-gray);
        }
      }
    }
  }

}