.OtherItems {
  margin-top: 115px;

  .other-items_container {
    display: flex;
    flex-direction: column;
    gap: 2em;

    h2 {
      font-size: 32px;
      font-weight: 500;
      color: var(--color-dark);
    }

    .items {
      display: flex;
      align-items: flex-start;
      gap: 1em 0.75em;
      flex-wrap: wrap;
      @media (max-width: 1100px){
        justify-content: space-between;
      }
    }
  }
}